*{
    padding: 0;
    margin: 0;
    background-color: #888;
    text-decoration: none;
    overflow-x: hidden;
    box-sizing: border-box;
    
}

.screen{
    width: 100vw;
    height: auto;
    background-color: #000000;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    

}
.navBar{
    padding: 0px 15px;
    height: 50px;
    width: 100%;
    background-color: #444;
    z-index: 5;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    
    margin: auto;
    
}
.halfNav{
    background-color: #444;
    width: 120px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    
}
.profileData{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    height: auto;
    
}

.bright{
    color: black;
    justify-content: center;
    height: 25px;
    width: 25px;
    display:flex;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 25px;
    text-decoration: none;
    background-color: red;
    border-radius: 8px;
    

    
    
    

}
.idioma{
    background-color: #999;
    color: #222;
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.cv{
    color: #222;
    background-color: #999;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 20px;
    border-radius: 8px;
    margin:3px 0;
    
    
    transition: all 0.4s ease-in-out;
}
.imagenPerfil{
    
    background-color: green;
    width: 270px;
    height: 270px;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin-top: 35px;
    margin-bottom: 20px;

    
}
img{
    width: 96%;
    height: 96%;
    border-radius: 100%;
    margin-left: 2%;
    margin-top: 2%;
   
}
.bio{
    width: 100%;
    max-width: 400px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
}
p{
    color: black;
    margin-top: 10px;
    align-items: center;
    font-size: 19px;
}

.containerSocialMedia{
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 200px;
    font-size: 25px;

}

.selectorSection{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 380px;
    padding: 5px;
    margin-top :5px;
    border-right: solid green 3px;
    border-left: solid green 3px;
    border: solid green 3px ;
    border-radius: 8px;


}
.selector{
    color: #222;
    background-color: #999;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 8px;
    margin:2px 0;
    
    
    transition: all 0.4s ease-in-out;
    
}
.selector:hover{
    background-color:#999;

}
.selectorSelected{
    background-color:#888;
    color: #222;
    
    text-decoration: none;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 8px;
    margin:2px 0;
    
    
    transition: all 0.4s ease-in-out;
}
.selectorSelected:hover{
    background-color:#999;
}
.card-container{
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    

}
.card{
    width: 300px;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    background-color: white;
    padding: 0;

}
.card img{
    width: 100%;
    height: auto;
    border-radius: 0;
    padding: 0;
    margin: auto;
    
}
.skills{
    padding-top: 20px;
    margin: auto;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    font-size: 20px;
}
.skills-container{ 
    margin-top: 30px;
    
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}
.skill-item{
    
    
    width: 100%;
    
    flex-direction: row;
    
    box-sizing: border-box;
    

    
}
.skills-column{
    width: 35%;
    display: flex;
    flex-direction: row;
    
}
.column-icons{
    display: grid;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;
    width: 40%;
    align-items: center;
    
}
.skill-name{
    width: 60%;
    display: grid;
    flex-direction: column;
    row-gap: 15px;
    justify-content: start;
    align-items: start;
}

h3{
    color: black;
   
    font-size:30px;
}